<div class="c-blog-post__card c-blog-post__sidebar--last-news">
    <h2>
        Últimas notícias
    </h2>
    {% if __SELF__.posts|length > 0 %}
        <ul>
            {% for post in posts %}
                <li class="py-1">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                    <br/>
                    <span>
                        {{ post.published_at|date('d/m/Y') }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            No se han encontrado categorías.
        </p>
    {% endif %}
</div>
