<article class="c-blog-posts-grid-post"
    style="background-image: url('{{ post.featured_images[0].getThumb('auto', 'auto', {'mode':'auto', 'quality':65, 'extension':'webp'}) }}')">
    <div class="c-blog-posts-grid-post__container">
        <div class="self-end p-4">
            <span class="c-blog-posts-grid-post__info">
                {% for category in post.categories %}
                    <a href="{{ category.url }}">
                        {{ category.name }}
                    </a>
                {% endfor %}
                ({{ post.published_at|date('d/m/Y') }})
            </span>
            {% if first is same as (true) %}
                <h1 class="c-blog-posts-grid-post__title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h1>
            {% else %}
                <h2 class="c-blog-posts-grid-post__title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h2>
            {% endif %}
            <p class="c-blog-posts-grid-post__summary">{{ post.summary|raw }}</p>
        </div>
    </div>
</article>
