<article class="c-blog-category-grid-post">
    <div class="c-blog-category-grid-post__image">
        <a href="{{ 'blog/post'|page({'slug': post.slug}) }}">
            <picture>
                <img src="{{ post.featured_images[0].getThumb('auto', 'auto', {'mode':'auto', 'quality':65, 'extension':'webp'}) }}"
                    alt="{{ post.title }}"
                    title="{{ post.title }}"/>
            </picture>
        </a>
    </div>
    <div class="c-blog-category-grid-post__info">
        <span class="text-gray-300 text-sm">
            {% for category in post.categories %}
                <a href="{{ category.url }}">
                    {{ category.name }}
                </a>
            {% endfor %}
            ({{ post.published_at|date('d/m/Y') }})
        </span>
        <h3 class="u-primary-text-shadow">
            <a href="{{ 'blog/post'|page({'slug': post.slug}) }}">
                {{ post.title }}
            </a>
        </h3>
        <p class="py-6">
            <a class="c-btn--v3"
                href="{{ post.url }}">
                Leer más +
            </a>
        </p>
    </div>
</article>
