@layer base {
    @font-face {
        font-family: 'Pilat Extended';
        src: url('/themes/eqz/assets/fonts/pilat_extended.ttf') format('truetype');
        font-display: swap;
    }

    * {
        font-family: 'Pilat Extended', sans-serif;
    }

    body {
        @apply bg-black
            flex
            flex-col
            min-h-screen;

        @screen lg {
            background-image: url('/themes/eqz/assets/img/body_bg.webp');

            @apply bg-cover
                bg-center
                bg-fixed;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        hyphens: auto;
    }
}
