<footer class="c-footer">
    <div class="c-footer-brands__container--flex">
        <div class="c-footer-brands__container--grid">
            {% for brand in brands.orderBy('sort_order', 'asc').get() %}
                <picture class="c-footer-brands__item {{ brand.is_separator ? 'divider' : null }}">
                    <a href="{{ brand.url }}"
                        target="_blank"
                        rel="external noopener noreferrer">
                        <img src="{{ brand.image[0].getThumb(400, 400, {'mode':'auto', 'quality':65, 'extension':'webp'}) }}"
                            alt="{{ brand.title }}"
                            title="{{ brand.title }}"/>
                    </a>
                </picture>
            {% endfor %}
        </div>
    </div>
    <hr class="c-footer__white-line"/>
    <div class="c-footer__logo">
        <a href="{{ 'home'|page(false) }}">
            <picture>
                <img src="{{ 'assets/img/eqz_logo.webp'|theme }}"
                    alt="{{ env('APP_NAME') }}"
                    title="{{ env('APP_NAME') }}"/>
            </picture>
            <span>
                {{ env('APP_NAME') }}
            </span>
        </a>
    </div>
    <div class="c-footer__legal-texts">
        <ul>
            {% for legalText in legalTexts.orderBy('sort_order', 'asc').get() %}
                <li>
                    <a href="{{ 'legal-text'|page({'slug': legalText.slug}) }}">
                        {{ legalText.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <span class="c-footer__copyright">
        &copy;&nbsp;{{ 'now'|date('Y') }} by
        <a href="https://twitter.com/wifft_"
            target="_blank"
            rel="external noopener noreferrer">
            Wifft
        </a>
        . All Rights Reserved.
    </span>
</footer>