<nav class="c-navbar">
    <div class="c-navbar__container">
        <a href="{{ 'home'|page(false) }}">
            <img src="{{ 'assets/img/eqz_logo.webp'|theme }}"
                alt="{{ env('APP_NAME') }}"
                title="{{ env('APP_NAME') }}"/>
        </a>
        <button class="c-navbar__mobile-btn"
            type="button"
            data-collapse-toggle="navbar-dropdown"
            aria-controls="navbar-dropdown"
            aria-expanded="false">
            <span class="sr-only">Abrir el menú principal</span>
            {% partial 'svg/mobile-menu' only %}
        </button>
        <div id="navbar-dropdown"
            class="c-navbar-dropdown hidden">
            <ul>
                <li>
                    <a class="c-navbar__link {{ viewBag.activeMenu is same as('blog') ? 'text-white' : 'text-gray-400' }}"
                        href="{{ 'blog/posts'|page({'page':1}) }}"
                        aria-current="page">
                        Noticias
                    </a>
                </li>
                <li>
                    <button id="dropdownNavbarLink_rosters"
                        class="c-navbar-dropdown__btn {{ viewBag.activeMenu is same as('rosters') ? 'text-white' : 'text-gray-400' }}"
                        href="{{ 'rosters'|page(false) }}"
                        data-dropdown-toggle="dropdownNavbar_rosters">
                        Equipos
                        {% partial 'svg/chevron-down' only %}
                    </button>
                    <div id="dropdownNavbar_rosters"
                        class="c-navbar-dropdown__content hidden">
                        <ul aria-labelledby="dropdownNavbarLink_rosters">
                            {% for roster in rosters.orderBy('sort_order', 'asc').get() %}
                                <li>
                                    <a class="c-navbar-dropdown__link"
                                        href="{{ 'rosters'|page(false )}}#{{ roster.slug }}">
                                        {{ roster.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="c-navbar__link {{ viewBag.activeMenu is same as('creators') ? 'text-white' : 'text-gray-400' }}"
                        href="{{ 'creators/list'|page(false) }}">
                        Creadores
                    </a>
                </li>
                <li>
                    <a class="c-navbar__link {{ viewBag.activeMenu is same as('club') ? 'text-white' : 'text-gray-400' }}"
                        href="{{ 'about'|page(false) }}">
                        El Club
                    </a>
                </li>
                <li>
                    <a class="c-navbar__link text-gray-400"
                        href="{{ 'blog/category'|page({'slug':'entre-tu-y-yo'}) }}"
                        rel="external noopener noreferrer"
                        aria-current="page">
                        Entre tú y yo
                    </a>
                </li>
                <li>
                    <button id="dropdownNavbarLink_downloads"
                        class="c-navbar-dropdown__btn {{ viewBag.activeMenu is same as('downloads') ? 'text-white' : 'text-gray-400' }}"
                        data-dropdown-toggle="dropdownNavbar_downloads">
                        Descargas
                        {% partial 'svg/chevron-down' only %}
                    </button>
                    <div id="dropdownNavbar_downloads"
                        class="c-navbar-dropdown__content hidden">
                        <ul aria-labelledby="dropdownNavbarLink_downloads">
                            <li>
                                <a class="c-navbar-dropdown__link {{ viewBag.activeSubmenu is same as('wallpapers') ? 'text-white' : 'text-gray-400' }}"
                                    href="{{ 'downloads/wallpapers'|page(false) }}">
                                    Wallpapers
                                </a>
                            </li>
                            <li>
                                <a class="c-navbar-dropdown__link {{ viewBag.activeSubmenu is same as('branding') ? 'text-white' : 'text-gray-400' }}"
                                    href="{{ 'downloads/branding'|page(false) }}">
                                    Branding
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
