<article class="c-profile-card c-profile-card--roster">
    <div class="c-profile-card__image">
        <picture>
            <img src="{{ player.image[0].getThumb('auto','auto',{'mode':'auto', 'quality':65, 'extension':'webp'}) }}"
                alt="{{ player.title }}"
                title="{{ player.title }}"/>
        </picture>
    </div>
    <div class="c-profile-card__info">
        <h3 class="u-primary-text-shadow">
            {{ player.title }}
        </h3>
        <p class="u-primary-text-shadow">{{ player.role }}</p>
        <div class="c-profile-card__socials">
            {% for social in player.socials %}
                <a class="u-primary-text-shadow"
                    href="{{ social.url }}"
                    target="_blank"
                    rel="external nofollow noopener noreferrer"
                    title="{{ social.name }}">
                    <i class="fab fa-{{ social.name|slug }}"></i>
                </a>
            {% endfor %}
        </div>
    </div>
</article>
