{% set creator = creatorsProfile %}
{% if creator is empty %}
    {% do abort(404) %}
{% endif %}
<article class="c-creators-profile__container">
    <div class="c-creators-profile__grid">
        <div class="c-creators-profile__image">
            <picture>
                <img src="{{ creator.image[0].getThumb('auto', 'auto', {'mode':'auto', 'quality':99, 'extension':'webp'}) }}"
                    alt="{{ creator.nickname }}"
                    title="{{ creator.nickname }}"/>
            </picture>
        </div>
        <div class="c-creators-profile__info">
            {% partial 'share-buttons' title = creator.nickname page = ''|page only %}
            <h1>{{ creator.nickname }}</h1>
            <div class="my-2">
                <h2>{{ creator.title }}</h2>
                <div>
                    {{ creator.description|raw }}
                </div>
                <div class="c-creators-profile__socials">
                    {% for social in creator.socials %}
                        <a href="{{ social.url }}"
                            target="_blank"
                            rel="external nofollow noopener noreferrer"
                            title="{{ social.name }}">
                            <i class="fab fa-{{ social.name|slug }}"></i>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>
