.c-btn {
    @mixin square-plain-btn($firstColor, $secondColor) {
        @apply p-2
            uppercase
            transition-all
            duration-300;

        @include color-switcher($firstColor, $secondColor);
    }

    &--primary {
        @include square-plain-btn(white, theme('colors.primary'));
    }

    &--secondary {
        @include square-plain-btn(white, theme('colors.secondary'));
    }

    &--rounded {
        @apply p-2
            uppercase
            font-bold
            rounded-xl
            shadow-xl
            transition-all
            duration-300;

        @include color-switcher(theme('colors.primary'), theme('colors.secondary'));

        &_abs {
            left: 258px;
            top: -18px;
            width: 94px;

            @apply absolute
                text-center;
        }
    }

    &--share {
        @apply px-4;

        &:hover {
            @apply bg-black;
        }

        &:not(:last-child) {
            @apply mr-2;
        }
    }
}
