.c-btn {
    &--v2 {
        background-color: theme('colors.primary');

        @apply text-white
            p-2
            uppercase
            transition-all
            duration-300;

        &:hover {
            color: theme('colors.primary');

            @apply bg-white;
        }
    }

    &--v3 {
        color: theme('colors.primary');
        background-color: theme('colors.secondary');

        @apply p-2
            uppercase
            font-bold
            rounded-xl
            shadow-xl
            transition-all
            duration-300;

        &:hover {
            @apply bg-primary
                text-secondary;
        }

        &_abs {
            left: 258px;
            top: -18px;
            width: 94px;

            @apply absolute
                text-center;
        }
    }

    &--share {
        @apply px-4;

        &:hover {
            @apply bg-black;
        }

        &:not(:last-child) {
            @apply mr-2;
        }
    }
}

