<article class="c-about-us__container">
    <div class="c-about-us__grid">
        <div class="c-about-us__image">
            <picture>
                <img src="{{ aboutUs.image[0].path }}"
                    alt="eQuizers eSports Club"
                    title="eQuizers eSports Club"/>
            </picture>
        </div>
        <div class="c-about-us__info">
            <h1>{{ aboutUs.title }}</h1>
            <div>
                {{ aboutUs.description|raw }}
            </div>
        </div>
    </div>
</article>
