{% set posts = __SELF__.posts %}

{% for post in posts %}
    {% if isEntreTuYyo == true or post.categories.first().slug is not same as('entre-tu-y-yo') %}
        {% partial '@post' post = post only %}
    {% endif %}
{% else %}
    <article class="c-blog-posts-list-post">
        <p class="text-center">{{ __SELF__.noPostsMessage }}</p>
    </article>
{% endfor %}

{% if posts.lastPage > 1 %}
    <div class="c-blog-posts-list-pagination">
        <ul class="c-blog-posts-list-pagination__list">
            {% if posts.currentPage > 1 %}
                <li class="c-blog-posts-list-pagination__list--btn">
                    <a href="{{ this.page.baseFileName|page({(__SELF__.pageParam): (posts.currentPage-1)}) }}">
                        &larr;
                    </a>
                </li>
            {% endif %}

            {% for page in 1..posts.lastPage %}
                <li class="c-blog-posts-list-pagination__list--btn {{ posts.currentPage == page ? '!bg-secondary--translucent' : '!bg-primary--translucent' }}">
                    <a href="{{ this.page.baseFileName|page({(__SELF__.pageParam): page}) }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}

            {% if posts.lastPage > posts.currentPage %}
                <li class="c-blog-posts-list-pagination__list--btn">
                    <a href="{{ this.page.baseFileName|page({(__SELF__.pageParam): (posts.currentPage+1)}) }}">
                        &rarr;
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
