<article class="c-blog-posts-list-post">
    <div class="c-blog-posts-list-post__container">
        <picture class="c-blog-posts-list-post__image">
            <a href="{{ post.url }}">
                <img src="{{ post.featured_images[0].getThumb('auto', 'auto', {'mode':'auto', 'quality':65, 'extension':'webp'}) }}"
                    alt="{{ post.title }}"
                    title="{{ post.title }}"/>
            </a>
        </picture>
        <div class="c-blog-posts-list-post__info">
            <span class="c-blog-posts-list-post__info--categories">
                {% for category in post.categories %}
                    <a href="{{ category.url }}">
                        {{ category.name }}
                    </a>
                {% endfor %}
                ({{ post.published_at|date('d/m/Y') }})
            </span>
            <h3 class="c-blog-posts-list-post__info--title">
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h3>
            <p class="text-primary">
                {{ post.summary|raw }}
            </p>
            <p class="py-4">
                <a class="c-btn--v2"
                    href="{{ post.url }}">
                    Leer más
                </a>
            </p>
        </div>
    </div>
</article>
