<article class="c-youtube-videos-list-video">
    <a class="c-btn--rounded c-btn--rounded_abs"
        href="https://youtu.be/{{ video.video_id }}"
        target="_blank"
        rel="external noopener noreferrer">
        Ver +
    </a>
    <div class="c-youtube-videos-list-video__image">
        <a href="https://youtu.be/{{ video.video_id }}"
            target="_blank"
            rel="external noopener noreferrer">
            <picture>
                <img src="{{ video.video_thumb_url }}"
                    alt="{{ video.title }}"
                    title="{{ video.title }}"/>
            </picture>
        </a>
    </div>
    <div class="c-youtube-videos-list-video__info">
        <h3>
            <a href="https://youtu.be/{{ video.video_id }}"
                target="_blank"
                rel="external noopener noreferrer"
                title="{{ video.title }}">
                {{ str_limit(video.title, 32, '...')|upper }}
            </a>
        </h3>
        <span>{{ video.upload_date|date('d/m/Y') }}</span>
    </div>
</article>
