<div class="c-branding__grid">
    {% for item in branding.contents %}
        <article class="c-branding__item">
            <h2>{{ item.name }}</h2>
            <picture>
                <img class="w-auto h-64 m-auto"
                    src="{{ item.image|media }}"
                    alt="{{ item.name }}"
                    title="{{ item.name }}"/>
            </picture>
            <p>
                <a href="{{ item.file|media }}"
                    target="_blank">
                    <i class="fas fa-download"></i>
                    Descargar pack
                </a>
            </p>
        </article>
    {% endfor %}
</div>
