{% set post = __SELF__.post %}
{% if post is empty %}
    {% do abort(404) %}
{% endif %}
<article class="c-blog-post__card">
    <h1 class="c-blog-post-content__title">
        {{ post.title }}
    </h1>
    <p class="c-blog-post-content__info">
        {% if post.categories|length > 0 %}
            {% for category in post.categories %}
                <a href="{{ category.url }}">
                    {{ category.name }}
                </a>
            {% endfor %}
        {% endif %}
        <span>{{ post.published_at|date('d/m/Y') }}</span>
    </p>
    {% if post.featured_images|length > 0 %}
        <picture>
            <img src="{{ post.featured_images[0].getThumb('auto', 'auto', {'mode':'auto', 'quality':65, 'extension':'webp'}) }}"
                alt="{{ post.title }}"
                title="{{ post.title }}"/>
        </picture>
    {% endif %}
    {% partial 'share-buttons' title = post.title page = ''|page only %}
    <div class="c-blog-post-content__content">
        {{ post.content_html|raw }}
    </div>
</article>
