{% for category in downloadCategories %}
    <article>
        {% if loop.first %}
            <h1 class="text-2xl font-bold uppercase py-4 break-all">{{ category.title }}</h1>
        {% else %}
            <h2 class="text-2xl font-bold uppercase py-4 break-all">{{ category.title }}</h2>
        {% endif %}
        <hr/>
        <div class="grid grid-cols-1 lg:grid-cols-3">
            {% for file in category.files %}
                {% partial '@wallpaper' file = file only %}
            {% endfor %}
        </div>
    </article>
{% endfor %}

