<article class="c-wallpapers__item">
    <picture>
        <img src="{{ file.thumb[0].getThumb(1280, 720, {'mode':'crop', 'quality':65, 'extension':'webp'}) }}"
            alt="{{ file.title }}"
            title="{{ file.title }}"/>
    </picture>
    <div>
        <p>
            <a href="{{ file.image_pc[0].path }}"
                target="_blank">
                <i class="fas fa-download"></i>
                Descargar para PC
            </a>
        </p>
        <p>
            <a href="{{ file.image_mobile[0].path }}"
                target="_blank">
                <i class="fas fa-download"></i>
                Descargar para móvil
            </a>
        </p>
    </div>
</article>
