<article class="c-profile-card c-profile-card--starred">
    <img class="c-profile-card--starred__star"
        src="{{ ('assets/img/stars/eqz-star-' ~ idx ~ '.webp')|theme }}"
        alt="star-{{ idx }}"
        title="{{ creator.nickname }}"/>
    <div class="c-profile-card__image">
        <a href="{{ 'creators/profile'|page({'slug': creator.slug}) }}">
            <picture>
                <img src="{{ creator.image[0].getThumb('auto', 'auto', {'mode':'auto', 'quality':65, 'extension':'webp'}) }}"
                    alt="{{ creator.nickname }}"
                    title="{{ creator.nickname }}"/>
            </picture>
        </a>
    </div>
    <div class="c-profile-card__info">
        <h3 class="u-primary-text-shadow">
            <a href="{{ 'creators/profile'|page({'slug': creator.slug}) }}">
                {{ creator.nickname }}
            </a>
        </h3>
        <p class="u-primary-text-shadow">{{ creator.title }}</p>
        <div class="c-profile-card__socials">
            {% for social in creator.socials %}
                <a class="u-primary-text-shadow"
                    href="{{ social.url }}"
                    target="_blank"
                    rel="external nofollow noopener noreferrer"
                    title="{{ social.name }}">
                    <i class="fab fa-{{ social.name|slug }}"></i>
                </a>
            {% endfor %}
        </div>
    </div>
</article>
