{% set games = ["FIFA", "Rocket League", "Valorant", "Brawl Stars"] %}

<div class="c-awards__container">
    <h2 class="c-awards__title">Logros deportivos</h2>
    <div class="slick-slider">
        {% for award in awards %}
            <article class="c-awards__item">
                <picture>
                    <img src="{{award.image[0].getThumb(128, 128, {'mode':'auto', 'quality':65, 'extension':'webp'}) }}"
                        alt="{{ award.title }}"
                        title="{{ award.title }}"/>
                </picture>
                <h3 title="{{ award.title }}">
                    {{ str_limit(award.title, 17, '...') }}
                </h3>
                <p>{{ games[award.game] }}</p>
            </article>
        {% endfor %}
    </div>
</div>
