<div class="c-awards__container">
    <h2 class="c-awards__title">Logros deportivos</h2>
    <div class="c-awards__grid">
        {% for award in awards %}
            <article class="c-awards__item">
                <picture>
                    <img src="{{award.image[0].getThumb(128, 128, {'mode':'auto', 'quality':65, 'extension':'webp'}) }}"
                        alt="{{ award.title }}"
                        title="{{ award.title }}"/>
                </picture>
                <h3>{{ award.title }}</h3>
                <p>
                    {% for roster in award.rosters %}
                        {{ roster.title }}
                        {% if not loop.index is same as(award.rosters|length) %}
                            &comma;&nbsp;
                        {% endif %}
                    {% endfor %}
                </p>
            </article>
        {% endfor %}
    </div>
</div>
