description = "Main layout"
is_priority = 1

[contenteditor]

[cookiesAdvice]
locale = {{ activeLocale }}
domain = ".equizers.com"
timeout = 500
expiration = 30
statement = "/texto-legal/cookies"

[collection rosters]
handle = "Rosters\Roster"

[collection brands]
handle = "Brands\Brand"

[collection legalTexts]
handle = "LegalTexts\Text"
==
use Cms\Models\MaintenanceSetting;

use Backend\Facades\BackendAuth;

function onStart() : void
{
    $this['maintenanceMode'] = MaintenanceSetting::instance()->is_enabled && is_null(BackendAuth::getUser());
}
==
<!DOCTYPE html>
<html lang="{{ env('APP_LOCALE') }}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"
            content="width=device-width,initial-scale=1.0"/>
        <title>{{ this.page.title ~ ' | ' ~ env('APP_NAME') }}</title>
        {% if not maintenanceMode %}
            <meta name="description"
                content="{{ this.page.meta_description }}"/>
            <meta name="keywords"
                content="eQz, {{ env('APP_NAME') }}, eQuizers eSports Club"/>
            <meta name="og:title"
                content="{{ this.page.title  ~ ' | ' ~ env('APP_NAME') }}"/>
            <meta name="og:description"
                content="{{ this.page.meta_description }}"/>
            {% partial 'site/twitter-og-metas' only %}
            <meta property="author"
                content="Wifft"/>
            <meta property="generator"
                content="OctoberCMS"/>
            {% partial 'site/favicon' only %}
            <link rel="author"
                href="{{ env('APP_URL') }}/humans.txt"
                type="text/plain"/>
            <link rel="canonical"
                href="{{ this.page.id|page(false) }}"/>
        {% endif %}
        {% partial 'site/head-styles' only %}
    </head>
    <body style="background-image: url('{{ 'assets/img/body_bg.webp'|theme }}');">
        {% if not maintenanceMode %}
            {% flash %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endflash %}
            {% partial 'site/navbar' only %}
        {% endif %}
        <main class="{{ this.page.baseFileName is same as('home') and not maintenanceMode ? 'mx-4 lg:mx-0' : null }}">
            {% page %}
        </main>
        {% if not maintenanceMode %}
            {% partial 'site/footer' only %}
        {% endif %}
        {% partial 'site/body-scripts' only %}

        {% component 'cookiesAdvice' %}
    </body>
</html>
