is_priority = 1

[contenteditor]

[collection rosters]
handle = "Rosters\Roster"

[collection brands]
handle = "Brands\Brand"

[collection legalTexts]
handle = "LegalTexts\Text"
==
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"
            content="width=device-width,initial-scale=1.0"/>
        <title>Mantenimiento | eQuizersEC</title>
        <meta name="robots"
            content="noindex,nofollow"/>
        <meta name="googlebot"
            content="noindex,nofollow"/>
        {% partial 'site/head-styles' %}
    </head>
    <body class="flex flex-col min-h-screen bg-cover bg-center bg-fixed"
        style="background-image: url('{{ 'assets/img/body_bg.png'|theme }}');">
        <main>
            {% page %}
        </main>
        {% partial 'site/body-scripts' %}
    </body>
</html>
